/* Variables */
:root {
	--main-color: #19c8fa;
	--transparent-color: rgb(15 116 143 / 50%);
	--section-padding: 100px;
}
/* End Of Variables */
/* Global Rules */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Open Sans", sans-serif;
}
ul {
	list-style: none;
}
.container {
	padding-inline: 15px;
	margin-inline: auto;
}
/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* End Of Global Rules */
/* Components */
.main-heading {
	text-align: center;
}
.main-heading h2 {
	font-weight: normal;
	font-size: 40px;
	position: relative;
	margin-bottom: 70px;
	text-transform: uppercase;
}
.main-heading h2::before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -30px;
	width: 120px;
	height: 2px;
	background-color: #333;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.main-heading h2::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -37.5px;
	width: 15px;
	height: 15px;
	border-color: #333;
	border-width: 2px;
	border-style: solid;
	background-color: white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	transform: translate(-50%);
}
.main-heading p {
	width: 550px;
	margin: 0px auto 100px;
	max-width: 100%;
	line-height: 2;
	color: #777;
}
/* End Of Components */
/* Header */
header {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 1;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	min-height: 97px;
}
header .container::before {
	content: "";
	position: absolute;
	height: 1px;
	width: calc(100% - 30px);
	bottom: 0;
	background-color: #a2a2a2;
	z-index: -1;
}
header .logo img {
	height: 40px;
}
header .container nav {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
}
header .container nav .toggle-menu {
	color: white;
	font-size: 20px;
}
@media (min-width: 768px) {
	header .container nav .toggle-menu {
		display: none;
	}
}
header .container nav ul {
	display: flex;
}
@media (max-width: 768px) {
	header .container nav ul {
		display: none;
	}
	header .container nav .toggle-menu:hover + ul {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: rgb(0 0 0 / 50%);
	}
	header .container nav ul li a {
		padding: 15px !important;
	}
}
header .container nav ul li a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 14px;
	padding-block: 40px;
	padding-inline: 10px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
header .container nav ul li a:hover,
header .container nav ul li a.active {
	color: var(--main-color);
	border-bottom: 1px solid var(--main-color);
}
header .container nav .form {
	width: 40px;
	height: 30px;
	position: relative;
	margin-left: 30px;
	border-left: 1px solid white;
}
header .container nav .form i {
	color: white;
	position: absolute;
	font-size: 20px;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
}
/* End Of Header */
/* Landing */
.landing {
	min-height: 100vh;
	background-image: url(../images/landing.webp);
	background-size: cover;
	position: relative;
	color: white;
}
.landing .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 50%);
}
.landing .text {
	position: absolute;
	background-color: var(--transparent-color);
	left: 0;
	top: 50%;
	padding: 50px;
	width: 50%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	display: flex;
	justify-content: flex-end;
}
.landing .text .content {
	max-width: 500px;
}
@media (max-width: 767px) {
	.landing .text {
		width: 100%;
	}
	.landing .text .content {
		max-width: 100%;
	}
}
.landing .text .content h2 {
	font-weight: normal;
	font-size: 30px;
	line-height: 1.5;
	margin-bottom: 20px;
}
.landing .text .content p {
	font-size: 15px;
	line-height: 2;
}
.landing .change-background {
	position: absolute;
	color: #ddd;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
@media (max-width: 767px) {
	.landing .change-background {
		display: none;
	}
}
.landing .fa-angle-right {
	right: 30px;
}
.landing .fa-angle-left {
	left: 30px;
}
.landing .bullets {
	position: absolute;
	left: 50%;
	bottom: 30px;
	display: flex;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.landing .bullets li {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 1px solid white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.landing .bullets li.active {
	background-color: var(--main-color);
	border-color: var(--main-color);
}
/* End Of Landing */
/* Services */
.services {
	padding-block: var(--section-padding);
}
.services .services-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-column-gap: 50px;
	grid-row-gap: 60px;
}
.services .srv-box {
	display: flex;
	padding: 25px;
	box-shadow: 0px 0px 5px 0px grey;
}
.services .srv-box i {
	margin-right: 50px;
}
@media (max-width: 767px) {
	.services .srv-box {
		flex-direction: column;
		text-align: center;
	}
	.services .srv-box i {
		margin-bottom: 30px;
		margin-right: 0;
	}
}
.services .srv-box h3 {
	margin-bottom: 30px;
	color: var(--main-color);
}
.services .srv-box p {
	line-height: 2;
	color: #777;
}
/* End Of Services */
/* Design */
.design {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-image: url(../images/design-features.jpg);
	background-size: cover;
	padding-block: var(--section-padding);
	height: 600px;
	z-index: -2;
	overflow: hidden;
}
.design .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 50%);
	z-index: -1;
}
.design .image,
.desgin .text {
	position: relative;
	flex: 1;
}
.design .image {
	text-align: center;
}
.design .image img {
	position: relative;
	bottom: -150px;
}
.design .text {
	background-color: var(--transparent-color);
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 50%;
	color: white;
}
@media (max-width: 767px) {
	.design {
		flex-direction: column-reverse;
		height: 1200px;
	}
	.design .text,
	.design .image {
		flex: none;
		margin-top: 50px;
	}
	.design .text {
		width: 100%;
	}
	.design .image img {
		bottom: 0px;
	}
}
.design .text h2 {
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.design .text ul li {
	padding-block: 15px;
}
.design .text ul li::before {
	font-family: "Font Awesome 5 Free";
	content: "\e163";
	font-weight: 900;
	margin-right: 20px;
	position: relative;
	top: 1.5px;
}
/* End Of Design */
/* Portfolio */
.portfolio {
	padding-block: var(--section-padding);
}
.portfolio .container .shuffle {
	display: flex;
	justify-content: center;
}
.portfolio .container .shuffle li {
	padding: 10px;
}
.portfolio .container .shuffle li.active {
	background-color: var(--main-color);
	color: white;
}
.portfolio .imgs-container {
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
}
.portfolio .imgs-container .box {
	position: relative;
	overflow: hidden;
}
@media (min-width: 768px) {
	.portfolio .imgs-container .box {
		flex-basis: 50%;
	}
}
@media (min-width: 1199px) {
	.portfolio .imgs-container .box {
		flex-basis: 25%;
	}
}
.portfolio .imgs-container .box img {
	max-width: 100%;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
.portfolio .imgs-container .box .caption {
	position: absolute;
	padding: 20px;
	bottom: -100%;
	background-color: white;
	width: 100%;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
.portfolio .imgs-container .box:hover .caption {
	bottom: 0;
}
.portfolio .imgs-container .box:hover img {
	-webkit-transform: rotate(5deg) scale(1.3);
	-moz-transform: rotate(5deg) scale(1.3);
	-ms-transform: rotate(5deg) scale(1.3);
	-o-transform: rotate(5deg) scale(1.3);
	transform: rotate(5deg) scale(1.3);
}
.portfolio .imgs-container .box .caption h4 {
	font-weight: normal;
	margin-bottom: 10px;
	letter-spacing: 2px;
}
.portfolio .imgs-container .box .caption p {
	color: var(--main-color);
}
.portfolio .more {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.portfolio .more a {
	padding: 15px 20px;
	background-color: var(--main-color);
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
/* End Of Portfolio */
/* Video */
.video {
	position: relative;
	overflow: hidden;
}
.video .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 40%);
}
.video video {
	width: 100%;
}
.video .text {
	background-color: var(--transparent-color);
	width: 100%;
	position: absolute;
	top: 50%;
	text-align: center;
	color: white;
	padding: 50px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.video .text h2 {
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.video .text p {
	margin-bottom: 30px;
}
.video .text button {
	background-color: black;
	color: white;
	padding: 10px 20px;
	text-transform: uppercase;
	border: none;
}
/* End Of Video */
/* About */
.about {
	padding-top: var(--section-padding);
	overflow: hidden;
	text-align: center;
}
.about img {
	position: relative;
	bottom: -120px;
	margin-top: -120px;
	max-width: 100%;
}
@media (max-width: 767px) {
	.about img {
		bottom: -60px;
		margin-top: -60px;
	}
}
/* End Of About */
/* Stats */
.stats {
	position: relative;
	padding-block: var(--section-padding);
	background-image: url(../images/stats.png);
	background-size: cover;
	text-align: center;
}
.stats .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 70%);
}
.stats .container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	color: white;
}
.stats .container .box {
	flex: 1;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--transparent-color);
}
@media (max-width: 767px) {
	.stats .container .box {
		flex-basis: 100%;
		border: 2px solid white;
		border-top: none;
	}
	.stats .container .box:first-of-type {
		border-top: 2px solid white;
	}
}
@media (min-width: 768px) {
	.stats .container .box {
		flex-basis: 50%;
	}
}
@media (min-width: 992px) {
	.stats .container .box {
		flex-basis: 25%;
	}
}
.stats .container .box .number,
.stats .container .box i {
	margin-bottom: 30px;
}
.stats .container .box i {
	font-size: 25px;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.stats .container .box .number {
	font-weight: bold;
	font-size: 50px;
}
.stats .container .box p {
	letter-spacing: 2px;
}
/* End Of Stats */
/* Skills */
.our-skills {
	padding-block: var(--section-padding);
}
.our-skills .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
@media (min-width: 992px) {
	.our-skills .container > div {
		flex-basis: 45%;
	}
}
@media (max-width: 991px) {
	.our-skills .container > div {
		margin-bottom: 100px;
	}
}
.our-skills .container > div > h3 {
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.our-skills .container > div > p {
	text-align: center;
	color: #777;
	line-height: 2;
	margin-bottom: 50px;
}
.our-skills .container .testimonials .test-box {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
.our-skills .container .testimonials .test-box img {
	width: 100px;
	height: 100px;
	margin-right: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
@media (max-width: 767px) {
	.our-skills .container .testimonials .test-box {
		flex-direction: column;
		text-align: center;
	}
	.our-skills .container .testimonials .test-box img {
		width: 150px;
		height: 150px;
		margin-right: 0;
		margin-bottom: 30px;
	}
}
.our-skills .container .testimonials .test-box .text {
	line-height: 2;
	border-bottom: 2px solid #ccc;
}
.our-skills .container .testimonials .test-box .text p {
	text-align: right;
	margin-bottom: 5px;
	font-size: 14px;
	color: #777;
}
.our-skills .container .testimonials .bullets {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}
.our-skills .container .testimonials .bullets li {
	width: 14px;
	height: 14px;
	margin-right: 15px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #aaa;
}
.our-skills .container .testimonials .bullets li.active {
	background-color: var(--main-color);
	border-color: var(--main-color);
}
.our-skills .container .skills .skill-holder {
	margin-bottom: 30px;
}
.our-skills .container .skills .skill-holder h4 {
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 15px;
}
@media (max-width: 991px) {
	.our-skills .container .skills .skill-holder h4 {
		text-align: center;
	}
}
.our-skills .container .skills .skill-holder .prog {
	width: 100%;
	height: 30px;
	background-color: #dedadc;
}
.our-skills .container .skills .skill-holder .prog span {
	display: block;
	position: relative;
	height: 100%;
	background-color: var(--main-color);
}
.our-skills .container .skills .skill-holder .prog span::before {
	content: attr(data-progress);
	position: absolute;
	right: 0;
	top: calc(-100% - 15px);
	padding: 5px 10px;
	background-color: black;
	color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
	transform: translateX(50%);
}
.our-skills .container .skills .skill-holder .prog span::after {
	content: "";
	position: absolute;
	right: 0;
	top: -20px;
	border: 13px solid transparent;
	border-top-color: black;
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
	transform: translateX(50%);
}
/* End Of Skills */
/* Quote  */
.quote {
	padding-block: var(--section-padding);
	background-image: url(../images/quote.jpg);
	background-size: cover;
	position: relative;
	text-align: center;
	color: white;
}
.quote .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 50%);
}
.quote .container q {
	font-family: "Permanent Marker", cursive;
	position: relative;
	font-size: 40px;
	text-transform: capitalize;
	letter-spacing: 1px;
	line-height: 2;
	font-style: italic;
}
.quote .container p {
	position: relative;
	font-family: "Permanent Marker", cursive;
	margin-top: 20px;
	font-size: 30px;
	text-transform: capitalize;
	letter-spacing: 3px;
	line-height: 2;
	font-style: italic;
	text-align: right;
}
@media (max-width: 767px) {
	.quote .container p {
		text-align: center;
	}
}
/* End Of Quote */
/* Pricing */
.pricing {
	padding-block: var(--section-padding);
}
.pricing .container .prices-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 60px;
}
.pricing .container .prices-container .offer {
	background-color: #fcfcfc;
	flex-basis: 24%;
	text-align: center;
	margin-bottom: 30px;
}
@media (max-width: 991px) {
	.pricing .container .prices-container .offer {
		flex-basis: 49%;
	}
}
@media (max-width: 767px) {
	.pricing .container .prices-container .offer {
		flex-basis: 100%;
	}
}
.pricing .container .prices-container .offer .title {
	padding: 40px 20px;
	border: 2px solid var(--main-color);
	border-left: none;
	border-right: none;
}
.pricing .container .prices-container .offer .title p {
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 2;
	text-transform: uppercase;
}
.pricing .container .prices-container .offer .title h3 {
	font-size: 65px;
	position: relative;
}
.pricing .container .prices-container .offer .title h3::before {
	content: "$";
	position: absolute;
	left: 50%;
	top: 0px;
	font-weight: normal;
	font-size: 30px;
	-webkit-transform: translateX(-65px);
	-moz-transform: translateX(-65px);
	-ms-transform: translateX(-65px);
	-o-transform: translateX(-65px);
	transform: translateX(-65px);
}
.pricing .container .prices-container .offer .title h3::after {
	content: "/Mo";
	position: absolute;
	bottom: 0;
	right: 50%;
	font-size: 20px;
	transform: translateX(90px);
	-webkit-transform: translateX(90px);
	-moz-transform: translateX(90px);
	-ms-transform: translateX(90px);
	-o-transform: translateX(90px);
}
.pricing .container .prices-container .offer .feature-box {
	border-bottom: 2px solid var(--main-color);
}
.pricing .container .prices-container .offer .feature-box .feature {
	width: fit-content;
	padding: 30px 20px;
	margin-inline: auto;
	font-size: 18px;
	position: relative;
}
.pricing
	.container
	.prices-container
	.offer
	.feature-box
	.feature:not(:last-child)::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	width: 120px;
	height: 1px;
	background-color: var(--main-color);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
.pricing .container .prices-container .offer .button {
	padding-block: 65px;
}
.pricing .container .prices-container .offer .button a {
	color: black;
	/* background-color: var(--main-color); */
	background-color: var(--main-color);
	color: black;
	padding: 20px 30px;
	border: 1px solid #ccc;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 500;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}
.pricing .container .prices-container .offer .button a:hover {
	padding: 23px 33px;
	letter-spacing: 1px;
	background-color: black;
	color: white;
}
.pricing .container .contact-us {
	text-align: center;
	text-transform: capitalize;
	font-size: 25px;
}
.pricing .container .contact-us span {
	font-family: "Permanent Marker", cursive;
	font-size: 40px;
	letter-spacing: 2px;
}
.pricing .container .contact-us a {
	display: block;
	width: fit-content;
	font-size: 20px;
	line-height: 2;
	margin: 30px auto;
	padding: 15px 30px;
	text-transform: capitalize;
	text-decoration: none;
	background-color: var(--main-color);
	color: black;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.pricing .container .contact-us a:hover {
	padding: 18px 33px;
	letter-spacing: 1px;
	background-color: black;
	color: white;
}
/* End Of Pricing */
/* Subscribe */
.subscribe {
	padding-block: var(--section-padding);
	background-image: url(../images/subscribe.jpg);
	background-size: cover;
	color: white;
	position: relative;
}
.subscribe::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 40%);
}
.subscribe .container {
	position: relative;
	display: flex;
	align-items: center;
}
@media (max-width: 991px) {
	.subscribe .container {
		flex-direction: column;
	}
}
.subscribe .container form {
	display: flex;
	position: relative;
	width: 500px;
	max-width: 100%;
}
.subscribe .container form i {
	position: absolute;
	top: 50%;
	left: 25px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.subscribe .container form input[type="Email"] {
	border: 1px solid white;
	border-right: none;
	background-color: transparent;
	padding: 20px 20px 20px 60px;
	caret-color: var(--main-color);
	color: white;
	width: calc(100% - 130px);
}
.subscribe .container form ::placeholder {
	color: white;
}
.subscribe .container form input[type="submit"] {
	width: 130px;
	background-color: var(--main-color);
	color: black;
	letter-spacing: 1px;
	padding: 10px 20px;
	border: 1px solid white;
	border-left: none;
	text-transform: uppercase;
	cursor: pointer;
}
.subscribe .container form input:focus {
	outline: none;
}
.subscribe .container .text {
	line-height: 2;
	margin-left: 50px;
	font-size: 25px;
}
@media (max-width: 991px) {
	.subscribe .container .text {
		margin-left: 0;
		margin-top: 30px;
		text-align: center;
	}
}
/* End Of Subscribe */
/* Contact */
.contact {
	padding-block: var(--section-padding);
}
.contact .container .holder {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.contact .container .holder .info {
	flex-basis: 25%;
}
.contact .container .holder .boxes {
	flex-basis: 70%;
}
@media (max-width: 767px) {
	.contact .container .holder {
		flex-direction: column;
	}
	.contact .container .holder .info,
	.contact .container .holder .boxes {
		flex-basis: 100%;
		text-align: center;
	}
}
.contact .container .holder .info div:first-child {
	margin-bottom: 100px;
}
@media (max-width: 767px) {
	.contact .container .holder .info div {
		margin-bottom: 50px;
	}
	.contact .container .holder .info {
		display: flex;
		justify-content: space-evenly;
	}
}
.contact .container .holder .info h3 {
	font-weight: 500;
	text-transform: uppercase;
	line-height: 2;
	margin-bottom: 30px;
	font-size: 20px;
}
.contact .container .holder .info p {
	color: #777;
	font-size: 18px;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.contact .container .holder .info div:last-child p {
	font-style: italic;
}
.contact .container .holder .boxes form {
	display: flex;
	flex-direction: column;
}
.contact .container .holder .boxes form textarea:focus,
.contact .container .holder .boxes form input:focus {
	outline: none;
}
.contact
	.container
	.holder
	.boxes
	form
	input[type="text"]:not(:nth-last-child(2)) {
	height: 75px;
	padding: 20px;
}
.contact .container .holder .boxes form textarea,
.contact .container .holder .boxes form input {
	margin-bottom: 30px;
	caret-color: var(--main-color);
	border: 2px solid transparent;
	border-bottom-color: var(--main-color);
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.contact .container .holder .boxes form textarea:focus,
.contact .container .holder .boxes form input:focus {
	border-color: var(--main-color);
}
.contact .container .holder .boxes form textarea {
	padding: 20px 20px 60px;
	width: 100%;
	height: 200px;
	resize: none;
}
.contact .container .holder .boxes form input:last-child {
	width: fit-content;
	padding: 20px 20px;
	background-color: var(--main-color);
	color: black;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	align-self: flex-end;
	cursor: pointer;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.contact .container .holder .boxes form input:last-child:hover {
	padding: 25px;
}
/* End Of Contact */
/* Footer */
.footer {
	padding-block: calc(var(--section-padding) / 2);
	background-image: url(../images/subscribe.jpg);
	background-size: cover;
	position: relative;
	text-align: center;
	color: white;
}
.overlay {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 70%);
}
.footer .container {
	position: relative;
	text-align: center;
}
.footer .container img {
	width: 140px;
	margin-bottom: 30px;
}
.footer .container > div p {
	text-transform: uppercase;
	font-size: 20px;
	padding: 30px;
	margin-inline: auto;
	width: fit-content;
	position: relative;
	border-bottom: 1px solid white;
}
.footer .container > div div {
	display: flex;
	justify-content: center;
	margin: 30px 0px 40px;
}
.footer .container > div div a {
	color: white;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.footer .container > div div a:hover {
	color: var(--main-color);
	padding-inline: 10px;
}
.footer .container > div div i {
	font-size: 22px;
	margin-inline: 10px;
}
.footer .container div:nth-of-type(2) {
	letter-spacing: 2px;
	font-size: 25px;
	text-transform: capitalize;
	margin-bottom: 30px;
}
@media (max-width: 767px) {
	.footer .container div:nth-of-type(2) {
		font-size: 20px;
	}
}
@media (max-width: 500px) {
	.footer .container div:nth-of-type(2) {
		font-size: 15px;
	}
}
.footer .container div:nth-of-type(2) span {
	color: var(--main-color);
	font-weight: bold;
}
.footer .container .signature {
	font-family: "Qwitcher Grypen", cursive;
	font-size: 60px;
	font-weight: bold;
}
.footer .container .signature a {
	text-decoration: none;
	color: var(--main-color);
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.footer .container .signature a:hover {
	font-size: 70px;
}
/* End Of Footer */
