/* Variables */
:root {
	--main-color: #19c8fa;
	--transparent-color: rgb(15 116 143 / 50%);
	--section-padding: 100px;
}
/* End Of Variables */
/* Global Rules */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Open Sans", sans-serif;
	/* color: white; */
}
ul {
	list-style: none;
}
.container {
	padding-inline: 15px;
	margin-inline: auto;
}
/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* End Of Global Rules */
/* Components */
.main-heading {
	text-align: center;
}
.main-heading h2 {
	font-weight: normal;
	font-size: 40px;
	position: relative;
	margin-bottom: 70px;
	text-transform: uppercase;
}
.main-heading h2::before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -30px;
	width: 120px;
	height: 2px;
	background-color: #333;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.main-heading h2::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -37.5px;
	width: 15px;
	height: 15px;
	border-color: #333;
	border-width: 2px;
	border-style: solid;
	background-color: white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	transform: translate(-50%);
}
.main-heading p {
	width: 550px;
	margin: 0px auto 100px;
	max-width: 100%;
	line-height: 2;
	color: #777;
}
/* End Of Components */
/* Header */
header {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 1;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	min-height: 97px;
}
header .container::before {
	content: "";
	position: absolute;
	height: 1px;
	width: calc(100% - 30px);
	bottom: 0;
	background-color: #a2a2a2;
	z-index: -1;
}
header .logo img {
	height: 40px;
}
header .container nav {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
}
header .container nav .toggle-menu {
	color: white;
	font-size: 20px;
}
@media (min-width: 768px) {
	header .container nav .toggle-menu {
		display: none;
	}
}
header .container nav ul {
	display: flex;
}
@media (max-width: 768px) {
	header .container nav ul {
		display: none;
	}
	header .container nav .toggle-menu:hover + ul {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: rgb(0 0 0 / 50%);
	}
	header .container nav ul li a {
		padding: 15px !important;
	}
}
header .container nav ul li a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 14px;
	padding-block: 40px;
	padding-inline: 10px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
header .container nav ul li a:hover,
header .container nav ul li a.active {
	color: var(--main-color);
	border-bottom: 1px solid var(--main-color);
}
header .container nav .form {
	width: 40px;
	height: 30px;
	position: relative;
	margin-left: 30px;
	border-left: 1px solid white;
}
header .container nav .form i {
	color: white;
	position: absolute;
	font-size: 20px;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
}
/* End Of Header */
/* Landing */
.landing {
	min-height: 100vh;
	background-image: url(../images/landing.webp);
	background-size: cover;
	position: relative;
	color: white;
}
.landing .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 50%);
}
.landing .text {
	position: absolute;
	background-color: var(--transparent-color);
	left: 0;
	top: 50%;
	padding: 50px;
	width: 50%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	display: flex;
	justify-content: flex-end;
}
.landing .text .content {
	max-width: 500px;
}
@media (max-width: 767px) {
	.landing .text {
		width: 100%;
	}
	.landing .text .content {
		max-width: 100%;
	}
}
.landing .text .content h2 {
	font-weight: normal;
	font-size: 30px;
	line-height: 1.5;
	margin-bottom: 20px;
}
.landing .text .content p {
	font-size: 15px;
	line-height: 2;
}
.landing .change-background {
	position: absolute;
	color: #ddd;
	top: 50%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
}
@media (max-width: 767px) {
	.landing .change-background {
		display: none;
	}
}
.landing .fa-angle-right {
	right: 30px;
}
.landing .fa-angle-left {
	left: 30px;
}
.landing .bullets {
	position: absolute;
	left: 50%;
	bottom: 30px;
	display: flex;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.landing .bullets li {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 1px solid white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.landing .bullets li.active {
	background-color: var(--main-color);
	border-color: var(--main-color);
}
/* .landing .bullets ul li.active {
} */
/* End Of Landing */
/* Services */
.services {
	padding-block: var(--section-padding);
}
.services .services-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
	grid-column-gap: 50px;
	grid-row-gap: 60px;
}
.services .srv-box {
	display: flex;
	padding: 25px;
	box-shadow: 0px 0px 5px 0px grey;
}
.services .srv-box i {
	margin-right: 50px;
}
@media (max-width: 767px) {
	.services .srv-box {
		flex-direction: column;
		text-align: center;
	}
	.services .srv-box i {
		margin-bottom: 30px;
	}
}
.services .srv-box h3 {
	margin-bottom: 30px;
	color: var(--main-color);
}
.services .srv-box p {
	line-height: 2;
	color: #777;
}
/* End Of Services */
/* Design */
.design {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-image: url(../images/design-features.jpg);
	background-size: cover;
	padding-block: var(--section-padding);
	height: 600px;
	z-index: -2;
	overflow: hidden;
}
.design .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 50%);
	z-index: -1;
}
.design .image,
.desgin .text {
	position: relative;
	flex: 1;
}
.design .image {
	text-align: center;
}
.design .image img {
	position: relative;
	bottom: -150px;
}
.design .text {
	background-color: var(--transparent-color);
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 50%;
	color: white;
}
@media (max-width: 767px) {
	.design {
		flex-direction: column-reverse;
		height: 1200px;
	}
	.design .text,
	.design .image {
		flex: none;
		margin-top: 50px;
	}
	.design .text {
		width: 100%;
	}
	.design .image img {
		bottom: 0px;
	}
}
.design .text h2 {
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.design .text ul li {
	padding-block: 15px;
}
.design .text ul li::before {
	font-family: "Font Awesome 5 Free";
	content: "\e163";
	font-weight: 900;
	margin-right: 20px;
	position: relative;
	top: 1.5px;
}
/* End Of Design */
/* Portfolio */
.portfolio {
	padding-block: var(--section-padding);
}
.portfolio .container .shuffle {
	display: flex;
	justify-content: center;
}
.portfolio .container .shuffle li {
	padding: 10px;
}
.portfolio .container .shuffle li.active {
	background-color: var(--main-color);
	color: white;
}
.portfolio .imgs-container {
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
}
.portfolio .imgs-container .box {
	position: relative;
	overflow: hidden;
}
@media (min-width: 768px) {
	.portfolio .imgs-container .box {
		flex-basis: 50%;
	}
}
@media (min-width: 1199px) {
	.portfolio .imgs-container .box {
		flex-basis: 25%;
	}
}
.portfolio .imgs-container .box img {
	max-width: 100%;
}
.portfolio .imgs-container .box .caption {
	position: absolute;
	padding: 20px;
	bottom: -100%;
	background-color: white;
	width: 100%;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.portfolio .imgs-container .box:hover .caption {
	bottom: 0;
}
.portfolio .imgs-container .box:hover img {
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-ms-transition: 1s ease;
	-o-transition: 1s ease;
	transition: 1s ease;
	-webkit-transform: rotate(5deg) scale(1.3);
	-moz-transform: rotate(5deg) scale(1.3);
	-ms-transform: rotate(5deg) scale(1.3);
	-o-transform: rotate(5deg) scale(1.3);
	transform: rotate(5deg) scale(1.3);
}
.portfolio .imgs-container .box .caption h4 {
	font-weight: normal;
	margin-bottom: 10px;
	letter-spacing: 2px;
}
.portfolio .imgs-container .box .caption p {
	color: var(--main-color);
}
.portfolio .more {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.portfolio .more a {
	padding: 15px 20px;
	background-color: var(--main-color);
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
/* End Of Portfolio */
